*:focus {
    outline: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 10px 2.5vw;
}

.header__logo {
    height: 35px;
    object-fit: contain;
    margin-left: 10px;
}

.header__center {
    display: flex;
    align-items: center;
    width: 45%;
    border: none
}

.header__searchbutton {
    width: 45px !important;
    height:40px;
    border-color: #fafafa;
    border: 1px solid black;
    border-left: none;
    padding: 0px 10px;
    margin-top: 3px;
    color: gray;
    cursor: pointer;
}

.header__searchbutton:hover {
    background-color: rgb(247, 244, 244);
}

.header__right ,.header__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__icon {
    margin-right: 12px;
}

.header__center>input {
    flex: 1;
}

.search-bar {
    width: 85%;
    height: 100%;
    padding: 10px 10px;
    font-size: 16px;
    text-transform: capitalize;
}